<!-- partial-about.html -->

<div class="jumbotron text-center">
    <h1>The About Page</h1>
    <p>This page demonstrates <span class="text-danger">multiple</span> and <span class="text-danger">named</span> views.</p>
</div>

<div style="    margin: 0; padding: 0; background: #E9967A; font-family: Helvetica, Arial, sans-serif;" >

    <input type="text" ng-model="textToBeDisplayed">
    <div style=" width: 200px; height: 40px; line-height: 40px; position: relative; top: calc(50% - 20px); margin: 8px ">
            <span overflow-marquee
                  overflow-marquee-speed=1
                  overflow-marquee-pause="foo"
                  ng-click="foo = !foo"
                  ng-init="foo = false">{{textToBeDisplayed}} </span>
    </div>

</div>
<div style="    margin: 0; padding: 0; background: #E9967A; font-family: Helvetica, Arial, sans-serif;" >

    <input type="text" ng-model="textTwo">
    <div style=" width: 200px; height: 40px; line-height: 40px; position: relative;  margin: 8px ">
     <marquee-overflow speed="60">{{textTwo}}</marquee-overflow>
    </div>

</div>

<div class="row">

    <!-- COLUMN ONE NAMED VIEW -->
    <div class="col-sm-6">
        <div ui-view="columnOne"></div>
    </div>
    
    <!-- COLUMN TWO NAMED VIEW -->
    <div class="col-sm-6">
        <div ui-view="columnTwo"></div>
    </div>

</div>    
